body{
    background: #b3f19a;
    background-image: url(./tecnical\ image.webp);
    background-size: cover;
}
.list-group-item span {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    display: inline-block;
}
.card-header{
    background: #ef3636;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    /* font-weight: 1000; */
}
.header h1{
    padding: 30px;
    margin: 30px;
    font-weight: 1000;
    font-size: 100;
    background: #7c94f1;
    color: rgb(242, 182, 104);
    text-align: center;
}
.list-group-item .action-buttons {
    white-space: nowrap;
}

.list-group {
    max-height: 200px;
    overflow-y: auto;
}